.navbar-toggler-left {
    left: unset;
    right: 1rem;
}

.float-right {
    float: left !important;
}

.mr-4 {
    margin-right: unset !important;
    margin-left: 1.5rem !important;
}

.mr-3 {
    margin-right: unset !important;
    margin-left: 1rem !important;
}

.px-1 {
    padding-right: 75PX !important;
    padding-left: 5px !important;
}

.pl-5 {
    padding-left: unset !important;
    padding-right: 3rem !important;
}

@media (min-width: 1200px) {
    .row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

[data-component=navbar] .navbar-collapse {
    background-color: #292a2c;
    margin-left: unset;
    margin-right: 75px;
}

.dropdown-menu-right {
    left: 0;
    right: auto;
}

.dropdown.show .dropdown-links a>i {
    color: #6c757d !important;
    font-size: 1rem;
    transition: all 0.1s linear;
    margin-right: unset !important;
    margin-left: 0.5rem !important;

}

.page-todo .task.high {
    border-left: unset !important;
    border-right: 2px solid #f86c6b;
}

.page-todo .task .time {
    right: unset !important;
    left: 0;
    text-align: left !important;
    padding: unset !important;

    padding: 10px 0 10px 10px !important;
}

@media only screen and (max-width: 767px) {
    .page-todo .task .desc {

        margin-right: unset !important;
        margin-left: -20px !important;
    }
}

.text-start {
    text-align: right !important;
}

.text-end {
    text-align: left !important;
}

.notification-list .notification-list_content .notification-list_img img {

    margin-right: unset !important;
    margin-left: 20px;
}

.heading-line:after {

    left: unset !important;
    right: 0;
}

.modal-header .close,
.modal-header .mailbox-attachment-close {
    margin: -1rem -1rem -1rem !important;
}

.mr-1,
.mx-1 {
    margin-right: unset !important;
    margin-left: 0.25rem !important;
}

.notification-list--unread {
    border-left: unset !important;
    border-right: 2px solid #29B6F6;
}


table th {
    text-align: start !important;

}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    padding-right: 0.75rem !important;
    padding-left: 2.25rem !important;
    background-position: left calc(0.375em + 0.1875rem) center;
}
.was-validated textarea.form-control:invalid, textarea.form-control.is-invalid{
background-position: top calc(0.375em + 0.1875rem) left calc(0.375em + 0.1875rem) !important;
}

[data-component=navbar] .dropdown span {
    right: 9px;
    top: -7px;
}

.chat-body {
    padding: unset;
    padding-right: 13px;
}

.list-group-item .main-info {
    /* flex-direction: row-reverse; */
}

.chat_box .incoming {
    flex-direction: row-reverse;
}

.incoming .details {
    flex-direction: row-reverse !important;
}

.outgoing .details {
    flex-direction: row !important;
}

.chat-area .typing_area button {
    right: unset !important;
    left: 88px !important;
}

.chat-box {

    right: unset !important;
    left:30px !important;

}
.chat-submit {
    right: unset !important;
     left: 10px;

 }
 #chat-input {

    padding-right: unset !important;
    padding-left: unset !important;
    padding-left: 50px !important;
    padding-right: 15px !important;

}
