@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    /* #2A3166 , #01345B, #252669*/
    --brand: #1a2e44;
    --dark: #092032;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);

}

body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color: var(--dark);
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: var(--brand);
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-brand {
    color: var(--brand) !important;
}


.hero-slider .owl-prev,
.hero-slider .owl-next{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 60px !important;
    height: 60px !important;
    display: block;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: 100px;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
}

.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
    background-color: var(--brand) !important;
}

.owl-dot.active span{
    background-color: var(--brand) !important;
}


 /* slide */
 .header {
    height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;


    position: relative;
}
.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}


 .slide {
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}





.slide .display-3 {
    text-transform: uppercase;
    color: #fff;
}



/* navbar */
.top-nav {
    background-color: var(--brand);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}

.navbar {
    box-shadow: var(--shadow);
    background-color: var(--brand);
}

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: var(--brand);
}
.conditions-section{
    margin: 20px 0;
}
.conditions-section a{
   color: #fff;
   margin: 0 10px;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
    color: #E44D42;
}

.navbar .navbar-nav .nav-link.active {
    color: #E44D42;
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

.navbar-brand img {
  width: 100px;
}

.navbar-brand .dot {
    color: var(--brand);
}

.btn {
    padding: 8px 26px;
}

.btn-brand {
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff;
}

.btn-brand:hover {
    background-color: #d64022;
    border-color: #d64022;
    color: #fff;
}

.intro {margin-bottom: 36px;
text-align: center;}

.intro p {
    max-width: 500px;
}
.intro h6{
    color: var(--brand);
    font-weight: 400;
    text-transform: uppercase;
}



.intro h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-box {
    align-items: center;
    display: flex;
}

.info-box img {
    width: 90px;
    color: rgb(47, 60, 126);
}



#milestone {
    background: linear-gradient( rgba(59, 76, 93, 0.795), rgba(59, 76, 93, 0.795)), url(../img/bg_banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#milestone h1,
#milestone p {
    color: #fff;
}
.counter{
    display:flex;
    justify-content: center;
}
.symbol{
    margin-top:1px;
    font-size:330%;
}
.service {
    padding: 32px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.service h5 {
    margin-top: 24px;
    margin-bottom: 14px;
}

.service img {
    width: 90px;
}


.project {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.project h6 {
    font-weight: 400;
}

.project h6::before {
    content: "";
    height: 2px;
    width: 30px;
    display: inline-block;
    background: var(--brand);
    vertical-align: middle;
    margin-right: 10px;
}


.project .overlay {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 76, 41, 0) 0%, var(--dark) 100%);
}

.project .content {
    position: absolute;
    left: 10%;
    bottom: 10%
}

.project h2,
.project h6 {
    color: #fff;
}

.team-member {
    text-align: center;
}

.team-member .image{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.team-member .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10%;
    background-color: rgba(255, 77, 41, 0.7);
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member h5 {
    margin-top: 16px;
    margin-bottom: 4px;
}

.team-member .social-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member .social-icons a {
    width: 40px;
    height: 40px;
}

.team-member:hover .social-icons {
    top: 50%;
    opacity: 1;
}

.team-member:hover .overlay {
    top: 0%;
    opacity: 1;
}

#reviews {

    background: linear-gradient(-90deg, rgba(8, 32, 50, 0.8), rgba(8, 32, 50, 0.8)), url(../img/bg_banner1.jpg), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.review {
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 15px;
    max-width: 768px;
    margin: auto;
}

.review .bxs-quote-alt-left {
    font-size: 120px;
    position: absolute;
    opacity: 0.1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.review img {
    width: 80px !important;
    height: 80px;
    border-radius: 100px;
    margin: auto;
}

.review h5 {
    margin-top: 16px;
    margin-bottom: 4px;
    color: #fff;
}

.review h3 {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
}

.review small {
    color: var(--brand);
}

.review .stars {
    color: var(--brand);
}

.blog-post {
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.blog-post .content {
    padding: 32px;
}

.blog-post a {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--brand);
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}

.blog-post h5 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-post small {
    text-transform: uppercase;
    color: var(--brand);
    text-decoration: underline;
    color: rgb(15, 37, 87) 6% 66%;
}

footer {
    background: linear-gradient(0deg, rgba(26, 46, 68, 0.85), rgba(26, 46, 68, 0.85)), url(../img/bg_banner1.jpg), #082032;;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .navbar-brand {
    color: #fff;
}

footer p {
    color: #ADB3B9;
}

footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
}


input.form-control {
    border-color: transparent;
    height: 44px;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.04);;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--brand);
}
@keyframes slide-up {
    0% {
      transform: translateY(6rem);
    }
    100% {
      transform: translateY(0rem);
    }}



  .avatar-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;

  }
  .avatar-wrapper .avatar-dropdown-arrow {
    transition: opacity 0.1s linear, transform 0.15s linear;
  }
  .avatar-wrapper .avatar-dropdown-arrow.active {
    transform: rotate(180deg);
  }
  .avatar-wrapper:hover .avatar-dropdown-arrow {
    opacity: 0.2;
  }

  .avatar-photo {
    border-radius: 50%;

}

  .dropdown-wrapper {
    position: absolute;
    transform: scale(0.8);
    transform-origin: top;
    /* transform-origin: right; */
    right: 25px;
    top: 65px !important;
    z-index: 4;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-top: 0.5rem;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(50, 50, 93, 0.08), 0 2px 4px 0 rgba(50, 50, 93, 0.05), 0 4px 8px 0 rgba(136, 152, 170, 0.08);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    visibility: hidden;
  }
  .dropdown-wrapper.active {
    top: 100%;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  .dropdown-profile-details {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eaeaea;
    /* justify-content: center; */
    /* margin: auto; */
    text-align: center;
  }
  .dropdown-profile-details img{
    margin: auto;
    height: 80px;
    width: 80px;
  }
  .dropdown-profile-details--name {
    /* font-size: 1.75rem; */
    margin-bottom: 0;
    font-weight: 600;
  }

  .dropdown-profile-details--email {
    /* font-size: 1.2rem; */
    color: #6f6f6f;
  }

  .dropdown-links {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
  }
  .dropdown-links a {
    color: #525f7f;
    text-decoration: none;
    padding-bottom: 1rem;
    transition: all 0.1s linear;
  }
  .dropdown-links a:hover {
    color: #E44D42;
  }
  .dropdown-links a:last-of-type {
    padding-bottom: 0;
  }



  .img-student{
    width: 80px;
    height: 80px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    }
.img-student-logo{
    width: 28px;
    height: 28px;
    border-radius: 50%  !important;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%  !important;
    -moz-border-radius: 50%  !important;
    -ms-border-radius: 50%  !important;
    -o-border-radius: 50%  !important;
}



.kt-avatar {
    position: relative;
    display: inline-block;
    }
    .kt-avatar .kt-avatar__holder {
      width: 120px;
      height: 120px;
      border-radius: 3px;
      background-repeat: no-repeat;
      background-size: cover; }
    .kt-avatar .kt-avatar__upload {
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      right: -10px;
      top: -10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      .kt-avatar .kt-avatar__upload input {
        width: 0 !important;
        height: 0 !important;
        overflow: hidden;
        opacity: 0; }
      .kt-avatar .kt-avatar__upload i {
        color: #5d78ff;
        font-size: 0.9rem; }
      .kt-avatar .kt-avatar__upload:hover {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        background-color: #5d78ff; }
        .kt-avatar .kt-avatar__upload:hover i {
          color: #ffffff; }
    .kt-avatar .kt-avatar__cancel {
      cursor: pointer;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      top: auto;
      right: -10px;
      bottom: -5px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
      display: none; }
      .kt-avatar .kt-avatar__cancel i {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: #74788d;
        font-size: 0.9rem; }
      .kt-avatar .kt-avatar__cancel:hover i {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        color: #5d78ff; }
    .kt-avatar.kt-avatar--changed .kt-avatar__cancel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .kt-avatar.kt-avatar--brand .kt-avatar__upload i {
      color: #5d78ff; }
    .kt-avatar.kt-avatar--brand .kt-avatar__upload:hover {
      background-color: #5d78ff; }
      .kt-avatar.kt-avatar--brand .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--light .kt-avatar__upload i {
      color: #ffffff; }
    .kt-avatar.kt-avatar--light .kt-avatar__upload:hover {
      background-color: #ffffff; }
      .kt-avatar.kt-avatar--light .kt-avatar__upload:hover i {
        color: #282a3c; }
    .kt-avatar.kt-avatar--dark .kt-avatar__upload i {
      color: #282a3c; }
    .kt-avatar.kt-avatar--dark .kt-avatar__upload:hover {
      background-color: #282a3c; }
      .kt-avatar.kt-avatar--dark .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--primary .kt-avatar__upload i {
      color: #5867dd; }
    .kt-avatar.kt-avatar--primary .kt-avatar__upload:hover {
      background-color: #5867dd; }
      .kt-avatar.kt-avatar--primary .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--success .kt-avatar__upload i {
      color: #0abb87; }
    .kt-avatar.kt-avatar--success .kt-avatar__upload:hover {
      background-color: #0abb87; }
      .kt-avatar.kt-avatar--success .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--info .kt-avatar__upload i {
      color: #5578eb; }
    .kt-avatar.kt-avatar--info .kt-avatar__upload:hover {
      background-color: #5578eb; }
      .kt-avatar.kt-avatar--info .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--warning .kt-avatar__upload i {
      color: #ffb822; }
    .kt-avatar.kt-avatar--warning .kt-avatar__upload:hover {
      background-color: #ffb822; }
      .kt-avatar.kt-avatar--warning .kt-avatar__upload:hover i {
        color: #111111; }
    .kt-avatar.kt-avatar--danger .kt-avatar__upload i {
      color: #fd397a; }
    .kt-avatar.kt-avatar--danger .kt-avatar__upload:hover {
      background-color: #fd397a; }
      .kt-avatar.kt-avatar--danger .kt-avatar__upload:hover i {
        color: #ffffff; }
    .kt-avatar.kt-avatar--circle .kt-avatar__holder {
      border-radius: 50%; }
    .kt-avatar.kt-avatar--circle .kt-avatar__upload {
      right: 0px;
      top: 5px; }
    .kt-avatar.kt-avatar--circle .kt-avatar__cancel {
      right: 3px;
      bottom: 10px; }
    .kt-avatar.kt-avatar--outline .kt-avatar__holder {
      border: 3px solid #ffffff;
      -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1); }

      .profile-img-modal{
        width: 400px;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;

    }

    .footer img{
        width: 140px;
    }
